body {
	background-image: url("gradientblue.jpg");
	background-color: #6699ff;
	color: #d5e3ff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

main {
	margin-left:180px;
	padding-right:20px;
	padding-bottom:20px;
}

header {
	background-color: #000066;
	color: #FFFFFF;
}

h1 {
	text-align:center;
	font-size: 3em;
	padding: 10px;
	line-height:150%;
	text-shadow: 2px 2px #CCCCCC;
}

nav {
	font-weight:bold;
	float:left;
	width:150px;
}

nav ul{
	list-style-type: none;
}

nav a{
	text-decoration:none;
}

nav a:link {
	color:#3262A3;
}

nav a:visited {
	color:#6699FF;
}

nav a:hover {
	color:#CCCCCC;
}

img{
	border:none;
}

.category {
	background-color: #6699ff;
	color: #003366;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #6666FF;
	background-color:#FFFFFF;
}

footer {
	padding:10px;
	margin-left:180px;
	font-size: .70em;
	font-style: italic;
	text-align:left;
}
footer nav {
	text-align:left;
}

#wrapper{
	background-color: #FFFFFF;
	color: #000066;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	min-width: 700px;
	max-width: 1024px;
}

header, nav, main, footer { display: block; }